llama_index==0.12.0
gcsfs==2024.10.0
nest-asyncio==1.6.0
transformers==4.46.3
huggingface-hub==0.26.2
accelerate
bitsandbytes
peft
sentencepiece
llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
langchain-huggingface==0.1.2
docx2txt==0.8
llama-index-vector_stores-chroma==0.4.0
llama-index-postprocessor-longllmlingu==0.3.0
llmlingua==0.2.2